.medium_input{
    width: 100%;
    min-width: 4rem;
    max-width: 12rem;
    border-radius: 5rem;
    padding: 0.3rem 0.5rem 0.3rem 28px;
    background: url('/assets/icons/search_black.png') no-repeat left 8px center #b1b1b116;
    background-size: 13px 13px;
    font-size: 1rem;
    outline: none;
    color: #b1b1b1;
}
