<div class="absolute flex flex-col ">
    @for (apps of listApps; track apps.folderName) {
    @if (apps.folderName === 'Desktop') {
    @for (file of apps.folderContent; track file.appName) {
    <div class="w-[8rem] h-[7rem] flex flex-col items-center gap-1 p-2 left_list_items"
        [ngClass]="{'focus': fileSelected === file.appName}" (click)="contentSelected(file.appName)"
        (click)="openWindowFromDesktop(file)">

        <img [src]="file.appImg" alt="" class="w-13 h-13">
        <span class="text-sm text-center text-[#fff] text-shadow-lg">
            {{file.appName}}
        </span>
    </div>
    }}}
</div>
<app-windows-bar [windowsApps]="windowsApps" [newApps]="newApps" [(showStartMenu)]="showStartMenu"
    (windowSelected)="selectWindow($event)"></app-windows-bar>
<div class="drag-container w-full modal-wrapper" style="height: calc(100% - 3rem);">
    @for (openApp of openedWindows; track $index) {
    <open-app-modal [selectedApp]="windowsApps[openApp.appName]" [appKey]="openApp.appName" (app)="closeModal($event)"
        (saveDragPosition)="saveDragHandle($event)" (mousedown)="bringToFront(openApp.appName)">
    </open-app-modal>
    }
</div>

<!-- Start Menu -->
@if (showStartMenu) {
<div #startMenu class="fixed bottom-12 left-0 w-[18rem] sm:w-[22rem] h-[400px]
            py-1 pl-1 pr-0 mb-1 ml-1 shadow-lg rounded-lg z-[99999] window_bar custom_border">
    <start-content (isStartOpen)="manageStartMenu($event)"></start-content>
</div>
}