<div class="w-full h-12 flex items-center px-2 gap-3
            window_bar
           shadow-[inset_0_1px_0_rgba(255,255,255,0.15),inset_0_-1px_0_rgba(0,0,0,0.6),0_-1px_6px_rgba(0,0,0,0.8)]
           opacity-95
           ">
    <!-- Start -->
    <div class="w-10 h-10 flex items-center justify-center rounded-full
                hover:brightness-150 transition duration-200 cursor-pointer"
        [ngClass]="{ 'brightness-150': showStartMenu }" (click)="openStart($event)">
        <img src="assets/icons/Start.svg" alt="" class="w-30 h-30">
    </div>

    <!-- Separator -->
    <div class="w-px h-8 bg-[#555] mx-1 opacity-45"></div>

    <!-- File Explorer -->
    <div class="relative w-10 h-10 flex items-center justify-center rounded
         hover:bg-[rgba(255,255,255,0.1)]
         hover:shadow-[inset_0_1px_0_rgba(255,255,255,0.4),0_0_6px_rgba(255,255,255,0.25)]
         transition-all duration-150" [ngClass]="{
    'bg-[rgba(255,255,255,0.12)] shadow-[inset_0_1px_0_rgba(255,255,255,0.4),0_0_6px_rgba(255,255,255,0.25)]':
      windowsApps.file_explorer.isSelected
  }" (click)="selectWindow('file_explorer')">
        <img src="assets/icons/File_Explorer.svg" class="w-7 h-7">

        <!-- Open indicator -->
        <div *ngIf="windowsApps.file_explorer.onBackground || windowsApps.file_explorer.isOpen "
            class="absolute bottom-1 w-6 h-[2px] bg-[#7fbfff] rounded"></div>
    </div>

    <!-- CMD -->
    <div class="relative w-10 h-10 flex items-center justify-center rounded
         transition-all duration-150
         hover:shadow-[inset_0_1px_0_#ffffff66,0_0_6px_#ffffff66]" [ngClass]="{
    'bg-[#ffffff26] hover:bg-[#ffffff33] shadow-[inset_0_1px_0_#ffffff66,0_0_6px_#ffffff66]':
      windowsApps.cmd.isSelected,
    'hover:bg-[#ffffff1a]':
      !windowsApps.cmd.isSelected
  }" (click)="selectWindow('cmd')">
        <img src="assets/icons/cmd.webp" class="w-7 h-7">

        <!-- Open indicator -->
        <div *ngIf="windowsApps.cmd.onBackground || windowsApps.cmd.isOpen"
            class="absolute bottom-1 w-6 h-[2px] bg-[#7fbfff] rounded"></div>
    </div>

    <!-- Nuove app aperte -->
    @for (newApp of newApps; track $index) {
    <div class="relative w-10 h-10 flex items-center justify-center rounded
            hover:bg-[rgba(255,255,255,0.1)]
            hover:shadow-[inset_0_1px_0_rgba(255,255,255,0.4),0_0_6px_rgba(255,255,255,0.25)]
            transition-all duration-150" [ngClass]="{
       'bg-[rgba(255,255,255,0.12)] shadow-[inset_0_1px_0_rgba(255,255,255,0.4),0_0_6px_rgba(255,255,255,0.25)]':
       newApp.isSelected
     }" (click)="selectWindow(newApp['appInfo'].name)">

        <img [src]="newApp['appInfo'].image" class="w-7 h-7">

        <!-- Open indicator -->
        <div *ngIf="newApp['onBackground'] || newApp['isOpen']"
            class="absolute bottom-1 w-6 h-[2px] bg-[#7fbfff] rounded">
        </div>

    </div>
    }

    <div class="h-100 ml-auto flex items-center relative">

        <!-- Links -->
        <!-- Freccia per vedere link Nascosti -->
        @if (hiddenLinks.length > 0) {
        <div class="relative">
            <div class="w-8 h-8 flex items-center justify-center cursor-pointer hover:bg-white/10 rounded"
                (click)="toggleHiddenLinks()">
                <span class="text-white text-sm"><img src="assets/icons/arrow.png" alt="▼"
                        class="w-5 h-5 custom_arrow"></span>
            </div>

            @if (showHiddenLinks) {
            <div class="absolute bottom-full right-0 mb-3 translate-x-[1.2rem]
                        p-3 rounded shadow-xl
                        flex flex-col gap-3 window_bar">

                @for (links of hiddenLinks; track $index) {
                <div class="w-10 h-10 flex justify-center items-center task_item"
                    (click)="selectWindow('internet', links.link)">
                    <img [src]="links.linkImg" [alt]="links.linkName" class="w-5 h-5">
                </div>
                }

            </div>
            }
        </div> }
        <!-- Link Visibili -->
        @for (links of visibleLinks; track $index) {
        <div class="w-10 h-10 flex justify-center items-center task_item"
            (click)="selectWindow('internet', links.link)">
            <img [src]="links.linkImg" [alt]="links.linkName" class="w-5 h-5">
        </div>
        }

        <!-- Language -->
        <!--         @if (showLanguage) {
        <div class="absolute bottom-full right-0 translate-x-[-4.1rem]
            mb-1 p-2 rounded shadow-xl flex flex-col gap-3 window_bar z_mille">

            <div class="w-10 h-10 flex justify-center items-center task_item cursor-pointer"
                (click)="selectLanguage()">
                <span>{{otherLanguage}}</span>
            </div>
        </div>
        } -->
        <!-- Language Visibili -->
        <!--      <div class="w-10 h-10 flex justify-center items-center task_item">
            <button (click)="showLanguageOpt()">
                <span class="text-shadow-sm">{{languageSelected}}</span>
            </button>
        </div> -->


        <!-- Time -->
        <div class="w-fit h-100 flex flex-col justify-center items-center p-0 task_item">
            <span class="text-xs px-1">{{ currentHour | date:'HH:mm' }}</span>
            <span class="text-xs px-1">{{ currentHour | date:'dd/MM/yyyy' }}</span>
        </div>

    </div>


</div>