<div class="w-full h-full flex flex-col pb-1 bg-[#eef3fa] ">
    <div class="h-8 border-y-2 file_exp_bar flex justify-between items-center px-3">
        <div class="flex gap-2 items-center">
            <span class="whitespace-pre-line text-xs text-center">
                {{ language.reference }}
            </span>
        </div>
    </div>

    <div class="flex flex-col p-2 gap-2 overflow-auto">
        <div class="w-full flex flex-col p-3 bg-[#fff] border-b custom_border">
            <div class="flex items-center gap-3">
                <img src="assets/imgs/me.webp" alt="Me" class="w-20 h-20 rounded-full border-2 border-gray-300 p-0.5">
                <div class="flex flex-col mb-1">
                    <span class="whitespace-pre-line text-[0.9rem] text-[#0032a7] font-semibold">Alessio
                        Fischetti</span>
                    <span class="whitespace-pre-line text-[0.9rem] text-[#575757] font-normal">{{ language.softwareDeveloper }}</span>
                </div>
            </div>
            <span class="whitespace-pre-line mt-2 text-[#575757] text-xs">
                {{ language.aboutMe }}
            </span>
        </div>
        <div class="w-full flex flex-col p-3 bg-[#fff] border-b custom_border">
            <div>
                <div class="flex items-center gap-2">
                    <img src="assets/icons/email_no_container.png" alt="" class="w-4 h-4 self-end mb-[1px]">
                    <span class="whitespace-pre-line text-sm text-[#0032a7] font-semibold ">{{ language.mainContacts }}</span>
                </div>

                <!-- Contacts -->
                <div class="bg-white mt-3">
                    @for (contact of contacts; track $index) {
                    <div class="flex flex-row justify-between p-3 mt-3 custom_border different_bot min-w-0">
                        <div class="flex flex-row gap-2 min-w-0 flex-1">
                            <img [src]="contact.icon" alt="" class="w-8 h-8 self-center flex-shrink-0">
                            <div class="flex flex-col min-w-0 flex-1">
                                <span class="text-[0.8rem] text-[#0032a7] font-semibold">
                                    {{contact.contactType}}
                                </span>
                                <span class="truncate text-[0.8rem] text-[#575757] font-normal">
                                    {{contact.contactValue}}
                                </span>
                            </div>
                        </div>
                        <div class="flex items-center justify-end flex-shrink-0 ">
                            <span
                                class="text-[0.8rem] text-[#575757] font-normal hover:underline cursor-pointer custom_copy"
                                (click)="copy(contact.contactValue)">
                                {{contact.copy ? language.copy : ''}}
                            </span>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="w-full flex flex-col p-3 bg-[#fff] border-b custom_border">
            <div>
                <div class="flex items-center gap-2">
                    <img src="assets/icons/online.png" alt="" class="w-5 h-5 self-end mb-[1px]">
                    <span class="whitespace-pre-line text-sm text-[#0032a7] font-semibold ">{{ language.findMe }}</span>
                </div>
                <!-- Links -->
                <div class="flex flex-row gap-3 bg-white mt-3">
                    <div class="w-full flex flex-wrap -mx-3">
                        @for (link of links; track $index) {
                        <div class="w-full sm:w-1/2 px-3 pb-3 custom_hover" >
                            <div class="w-full text-inherit" (click)="openWebSite(link.actualLink)">
                                <div class="w-full flex flex-row justify-between p-3 custom_border different_bot">
                                    <div class="flex flex-row gap-2 flex-wrap sm:flex-nowrap min-w-0 justify-center">
                                        <img [src]="link.icon" alt=""
                                            class="w-8 h-8 self-center flex-shrink-0 object-contain" />
                                        <div class="flex flex-col min-w-0">
                                            <span class="truncate text-[0.8rem] text-[#0032a7] font-semibold">
                                                {{link.linkType}}
                                            </span>
                                            <span class="truncate text-[0.8rem] text-[#575757] font-normal">
                                                {{link.linkValue}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>