<div class="h-full bg-[#0f0f0f] flex flex-col">

    <div class="h-[2.5rem] w-full py-[3px] flex items-center gap-2 border-b border-[#464646] overflow-hidden">
        @for (item of ['File','Edit','Selection','View','Go','Run','Terminal','Help']; track $index) {
        <span class="h-full flex items-center flex-shrink-0 text-[14px] px-[6px] text-[#dedede] 
                  hover:bg-[#6c6c6c9c] whitespace-nowrap hover:underline rounded-[1px]">
            {{item}}
        </span>
        }
    </div>

    <div class="flex flex-1 w-full overflow-hidden">

        <div class="w-[clamp(180px,25%,320px)] bg-[#0f0f0f] border-r border-[#464646] flex">

            <!-- Left pannel -->
            <div class="w-11 flex-shrink-0 flex flex-col gap-1 pt-2 border-r border-[#464646]">
                <div class="w-full flex gap-1 items-center">
                    <div class="w-[2px] h-10 bg-[#1455d9]"></div>
                    <img src="assets/icons/files.png" class="w-7 h-7">
                </div>
                @for (item of ['assets/icons/search.png', 'assets/icons/git.png', 'assets/icons/debug.png']; track
                $index) {
                <div class="w-full flex gap-1 items-center custom_border_hover">
                    <div class="w-[2px] h-10"></div>
                    <img [src]="item" class="w-6 h-6">
                </div>
                }
            </div>

            <!-- Editor and list projects -->
            <div class="flex-1 min-w-[180px] overflow-auto">
                <div class="flex gap-1 p-2 items-center arrow_holder" (click)="rotateListArrow = !rotateListArrow">
                    <button class="h-fit" [ngClass]="{'rotate-270': rotateListArrow}">
                        <img src="assets/icons/arrow.png" class="w-5 h-5">
                    </button>
                    <span class="text-sm text-[#dedede]">{{ language.projects }}</span>
                </div>
                @for (project of listaProgetti; track $index) {
                @if (!rotateListArrow) {
                <li class="flex gap-1 items-center justify-center  hover:bg-[#dedede5c]"
                    [ngClass]="{'focused': project.selectedProject}">
                    <button class="w-[80%] py-1 px-3 hover:cursor-pointer hover:shadow-md rounded text-left"
                        (click)="selectedProject(project)">

                        <span class="text-sm text-[#dedede] truncate">{{ project.nomeProgetto }}</span>

                    </button>
                </li>
                }
                }
            </div>
        </div>

        <div class="flex-1 min-w-[430px] bg-[#1e1e1e] flex flex-col">

            <div class="h-[2.5rem] flex items-center border-b border-[#464646] bg-[#0f0f0f]">
                @for (openedProject of listOpenedProjects; track $index) {
                <div class="w-fit h-full p-1  flex gap-1 items-center hover:bg-[#6c6c6c9c]
                    border-r border-[#464646] cursor-pointer" [ngStyle]=" openedProject.nomeProgetto === selectedWindow
                    ? {'border-top': '1px solid #1455d9'} 
                    : {}" (click)="selectedProjectWindow(openedProject)">
                    <div>
                        <span class="flex-shrink-0 text-[14px] px-[6px] text-[#dedede] 
                  whitespace-nowrap">
                            {{openedProject.nomeProgetto}}
                        </span>
                    </div>
                    <span
                        class="w-8 h-8 hover:bg-[#6c6c6c9c] cursor-pointer rounded inline-flex items-center justify-center"
                        (click)="closeWindow(openedProject)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                            class="w-4 h-4 text-[#dedede]">
                            <line x1="18" y1="6" x2="6" y2="18" />
                            <line x1="6" y1="6" x2="18" y2="18" />
                        </svg>
                    </span>
                </div>
                }
            </div>

            <div class="flex-1 overflow-auto p-4">
                @for (item of listOpenedProjects; track $index) {
                @if (item.nomeProgetto === selectedWindow) {
                <div class="mb-4 flex justify-end">
                    <a [href]="item.linkProject" target="_blank" rel="noopener noreferrer" class="flex gap-1 items-center p-2 bg-[#dedede] rounded text-inherit
                        hover:translate-y-[2px] custom_anchor">
                        <img src="assets/icons/github.svg" alt="" class="w-5 h-5">
                        <span class="text-sm">{{ language.openInGithub }}</span>
                    </a>
                </div>

                <markdown [src]="item.readMe" class="text-[#dedede]"></markdown>
                }
                }
            </div>

        </div>

    </div>
</div>